footer{
    color: white;
    background-color: #c9392c;
    width: 100%;
}

.hover-icon{
    color: gray;
    font-size: 30px!important;
}

.hover-icon:hover {
    color: #3f51b5;
}
.sidenav {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: yellow;
    z-index: -1;
}

