footer{
    color: white;
    background-color: #c9392c;
    width: 100%;
}

.hover-icon{
    color: gray;
    font-size: 30px!important;
}

.hover-icon:hover {
    color: #3f51b5;
}
/* .sidenav {
    height: 100vh;
    position: sticky;
    background-color: #f7e7ce;
    top: 0;
    z-index: -1;
} */
.sidenav a {
    color:black;
}

